node_modules/
dist/*
!dist/
!dist/runtime.browser.js
examples/basic/public/rangefind/
examples/frwiki/data/
examples/frwiki/public/
examples/frwiki/rangefind.config.json
examples/frwiki/frwiki-bench.json
.DS_Store
*.log
target/
