---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.origin }}{{ '/sitemap.xml' | url }}

# LLM-friendly site summary and full documentation:
# {{ site.origin }}{{ '/llms.txt' | url }}
# {{ site.origin }}{{ '/llms-full.txt' | url }}
